<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post" action="{{ url_for('login') }}" class="form">
        <div class="title">Login do Administrador</div>
        <div class="message">Digite suas credenciais para acessar o painel.</div>
        <label>
            <input class="input" type="text" id="usuario" name="usuario" placeholder=" " required>
            <span>Usuário</span>
        </label>
        <label>
            <input class="input" type="password" id="senha" name="senha" placeholder=" " required>
            <span>Senha</span>
        </label>
        <button type="submit" class="submit">Entrar</button>
        <div class="signin">
            <a href="{{ url_for('index') }}">Voltar para o Formulário</a>
        </div>
    </form>
</body>
</html>